#colophon_TesseractTheme {

	padding: 10px 0;

	margin-top: 0px;

	border-top: none;

	}



#footer-banner {

	text-align: left;

	margin: 0 auto;

	position: relative;

	display: table;

	table-layout: fixed;

	width: 100%;

	overflow: hidden;

	}



#footer-banner p {

		line-height: 150%;

		display: block;

	}





#footer-banner .site-title {

	margin: 0;

	}



#horizontal-menu-wrap {

	width: 70%;

	display: table-cell;

	vertical-align: middle;

	position: relative;

	z-index: 1;

	}



#horizontal-menu-wrap > * {

	display: table-cell;

	vertical-align: middle;

	width: 1px;

	white-space: nowrap;

	}



#footer-banner .search-form {

	margin-top: 1px;

	}



#footer-banner .search-field {

	box-sizing: border-box;

	}



#horizontal-menu-before {

	padding-right: 12px;

	margin-right: 4px;

	border: none;

	zoom: 1; *display: inline;

	}



#horizontal-menu-before.is-menu {

	border-right: rgba(255, 255, 255, 0.1) solid 1px;

	}



#horizontal-menu-wrap.logo #horizontal-menu-before {

	display: table-cell;

	width: 1px;

	white-space: nowrap;

	}



#footer-banner .site-logo,

#footer-banner .site-name {

	margin: 0;

	}



#footer-banner .site-logo a,

#footer-banner .site-name a {

	padding: 0;

	}



#footer-banner .site-logo a {

	height: auto;

	margin: 0;

	}



#footer-banner .site-logo img {

	height: 40px;

	max-width: inherit;

	padding: 0;

	}



#footer-horizontal-menu	{

	width: auto;

	display: table-cell;

	width: 100%;

	border-right: none;

	line-height: 1;

	vertical-align: middle;

	white-space: normal;

	}



/*#footer-horizontal-menu.is-before {

	padding-left: 12px;

	}	*/



#colophon_TesseractTheme > .menu ul,

#footer-horizontal-menu ul,

.hm-social {

	list-style-type: none;

	text-align: left;

	margin: 0 0 0 0;

	}



#colophon_TesseractTheme > .menu ul li,

#horizontal-menu-before > *,

#footer-horizontal-menu ul li  {

	display: inline-block;

	zoom: 1; *display: inline;

	vertical-align: middle;

	}



#colophon_TesseractTheme > .menu ul li,

#footer-horizontal-menu ul li,

.hm-social li {

	padding: 7px 12px;

	}



#footer-horizontal-menu ul li { padding: 0 12px 0 0; }



#footer-horizontal-menu ul li:first-child { padding-left: 0 }

#footer-horizontal-menu ul li:last-child { padding-right: 0 }



#footer-horizontal-menu ul li a {

	line-height: 24px;

	display: block;

	}



.hm-social li,

.hm-social li a {

	display: block;

	height: 24px;

	}



.hm-social {

	display: table;

	vertical-align: middle;

	}



.hm-social > li {

	display: table-cell;

	padding: 8px 6px;

	box-sizing: content-box;

	}



.hm-social > li a img {

	width: 25px;

	height: 25px;

	max-width: inherit;

	}



.hm-social li:first-child { padding-left: 0; }



#horizontal-menu-before	.search-form {

	padding-right: 4px;

	}



#footer-banner-right {

	line-height: 40px;

	text-align: left;

	z-index: 1;

	display: none !important;

	position: relative;

	height: 100%;

	vertical-align: middle;

	}



#footer-banner-right.designer {

	text-align: right;

	font-size:16px;

	}



#footer-banner-right.designer a {

	font-size:16px;

	}



#footer-banner-right > .table {

	display: table;

	table-layout: fixed;

	height: 100%;

	width: 100%;

	}



#footer-banner-right > .table > .table-cell {

	display: table-cell;

	vertical-align: middle;

	}



/*added*/

.with_unbrandinglogo #footer-button-container{ float:none !important;}

.footer-extreme-right{ position:relative; width:13%; top:0; right:0; z-index:99; height:100%; text-align:center; display:table-cell; vertical-align:middle;}

.with_unbrandinglogo #footer-banner-right{ width:25% !important;}

/*added*/


.thm-left-left{ float:left; width:auto;}
#footer-horizontal-menu{ float:left; width:auto;}
#horizontal-menu-wrap{ display:table !important; height:100%;}
/*#horizontal-menu-wrap > *{ display:table !important; height:100%;}*/
.site-branding{ display:table !important; height:100%; width:100%;}
.site-logo, .site-title{ display:table-cell !important; height:100%; vertical-align:middle;}
.nav-menu{ display:table !important; height:100%; vertical-align:middle;}
.banner-centre .site-branding{ width:100%;}
.banner-centre #footer-horizontal-menu{ width:100%;}
#footer-banner-right .nav-menu{ width:100% !important;}

#footer-banner-right{ display:table !important; width:100%; height:100%;}
#footer-banner-right .site-logo{ float:right;}


@media screen and (max-width: 960px) {



	#horizontal-menu-wrap { padding-left: 20px; }

	#footer-banner-right { padding-right: 20px; }

	.footer-extreme-right{ right:0;}



}



@media screen and (max-width: 768px) {

   #footer-banner-right{ height: auto !important;}

	#footer-banner {

		padding: 0 20px 5px;

		}

   #footer-banner-right .site-logo{ float:none;}

	#horizontal-menu-wrap { padding-left: 0; }

	#footer-banner-right { padding-right: 0; }



	#footer-banner,

	#horizontal-menu-wrap,

	#footer-banner-right {

		float: none;

		width: 100%!important;

		display: block!important;

	}



	#footer-banner-right {

		text-align: center;

	}



	#horizontal-menu-before,

	#horizontal-menu-wrap.logo #horizontal-menu-before,

	#footer-horizontal-menu,

	#footer-horizontal-menu.is-before {

		display: block;

		width: 100%;

		padding: 0;

		padding-left: 0;

	}



	#horizontal-menu-before {

		margin-right: 0;

		padding-right: 0;

		border: none!important;

		text-align: center;

		}



	#footer-banner .site-branding {

		display: block;

		}



	#footer-banner .site-title {

		text-align: center;

		padding: 0;

		margin: 0;

		}



	#footer-banner .site-logo a,

	#footer-banner .site-logo img {

		height: auto;

		padding: 0;

		}



	#footer-banner .site-logo h1 {

		text-align: center;

		}



	#footer-banner .site-logo img {

		max-width: 100%;

		margin: auto;

		}



	#footer-horizontal-menu > div {

		display: table;

		table-layout: fixed;

		width: 100%;

		/*margin-top: 40px;*/

		}


	#footer-horizontal-menu > div.menu-bottom-nav-container{ margin-top:0;}


	#horizontal-menu-wrap.nothing #footer-horizontal-menu > div { margin-top: 0; }



	#horizontal-menu-before ul,

	#footer-horizontal-menu ul {

		width: 100%;

		text-align: center;

		}



	#horizontal-menu-before ul li,

	#footer-horizontal-menu ul li {

		display: inline-block;

		zoom: 1; *display: inline;

		float: none;

		}



	#footer-horizontal-menu ul li { padding: 0 12px; }



	#horizontal-menu-before .search-form {

		display: block;

		width: 240px;

		margin: auto;

	}



	#horizontal-menu-before .search-field {

		width: 100%;

	}



	#footer-banner-right {

		float: none;

		display: block;

		text-align: center;

		width: 100%;

		padding: 15px 20px 0;

		margin-top: 15px;

		border-top: rgba(255, 255, 255, 0.1) solid 1px;

		line-height: 24px;

		position: relative;

		right: 0;

	}



	#footer-banner-right > .table > .table-cell {

		text-align: center;

		}


#horizontal-menu-wrap{ padding-left:0 !important; padding-right:0 !important;}
.site-branding{ margin-left:70px;}
#footer-banner .site-branding{ margin-left:0; width:100%; padding-bottom:0px!important; margin-bottom:0px!important; /*border-bottom:1px solid rgba(255,255,255,0.1);*/}
#footer-banner #horizontal-menu-wrap, #footer-banner #footer-banner-centre, #footer-banner #footer-banner-right{ padding:8px;}
#site-banner-main .site-title{ display:table-cell; height:100%; vertical-align:middle;}
}



@media screen and (max-width: 767px) {

.footer-extreme-right{ position:inherit; width:100% !important; text-align:center; display:inherit !important;}

.footer-extreme-right img{ width:100px;}

.with_unbrandinglogo #footer-banner-right{ width:100% !important;}

#horizontal-menu-wrap{ padding-left:0 !important; padding-right:0 !important;}
.site-branding{ margin-left:32px !important;}
#footer-banner .site-branding{ margin-left:0 !important; width:100%; padding-bottom:15px; margin-bottom:15px; /*border-bottom:1px solid rgba(255,255,255,0.1);*/}
#site-banner-main .site-title{ display:table-cell; height:100%; vertical-align:middle;}

}
