/*.footer-banner-right {
  display: none;
}

#menu-header {
  width: 90%;
  margin-left: 70px;
  margin-right: 200px;
}

#site-navigation {
  width: 100%;
}

#pgc-121-0-0 {
  height: 100%;
}*/
/*
.textwidget {
  height: 600px;
}*/
.picture{
  -webkit-text-stroke: 2px #6E6E6E;
  font-weight: 700;
text-shadow: 1px 1px 1px #9F81F7;

}
.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height:50px;
    width:200px;
    font-size: 22px;
    margin-top: 100px !important;
    margin-bottom: 0px;
    background-color: #8258FA;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: #58FAAC;

}

.nav-menu {
  margin-left: 30px !important;
}


.hr-social li a img {
    display: block;
    height: 55px;
    width: 55px;
    margin-top: -28px;
}
